# Python environment files
venv/
.env
__pycache__/
*.pyc

# Jupyter Notebooks checkpoints
.ipynb_checkpoints

# MacOS specific files
.DS_Store

# Data files to exclude if sensitive or large
*.xlsm

# IDE specific files
.vscode/

# Temporary or cache files
*.tmp
*.log
# Exclude all data files
data/raw/
data/processed/
docs/
Reports/