nav {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #E5EFD1;
}

.nav-links {
  color: #000;
  text-decoration: none;
  padding: 16px;
  font-weight: bold;
  transition: background-color 0.2s, transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

button {
  background-color: #C8D1B6;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  margin: 10px 0;
}

button:hover {
  background-color: #B7BFA6;
  transform: translateY(-2px);
}