h1, h2, h3, p, ul, li, button, input {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100vh;
}
.Body {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 auto;
    overflow-y: hidden;
}

.content {
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #F1F5FB;;
}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.dashboardContent {
    height: 100%;
    display: flex;
    padding-left: 26px;
    justify-content: start;
    align-items: center;
}