/* specific stylings for the ESG Report page */

.report-selection{
    width: 100%;
    box-sizing: border-box;
}

.mainMetrics{
    padding: 26px;
    gap: 26px;
    display: flex;
    flex-direction: column;
}

.metricRow1, .metricRow2 {
    width: 100%;
    height: 40%;
    min-height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.metric_checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
  
.metric_checkbox input {
    margin-right: 10px;
}
  
.metric_checkbox label {
    max-width: 200px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}
  
.metric_checkbox label:nth-child(2) {
    min-width: 100px;
}
  
.metric_checkbox label:last-child {
    min-width: 50px;
}

.report-calculation {
    height: calc(40% + 26px); /* adds space under final button */
    background-color: #F9FAFC;
    padding: 26px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.report-calculation table {
    width: 100%;
    border-collapse: collapse;
}
.report-calculation th {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
.report-calculation td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}