.pcaContent {

    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 26px;
    height: 100%;
    box-sizing: border-box;

    overflow-y: scroll;
}

.pcaContent > .table-container {
    justify-content: start;
    align-items: start;
}