.allContent{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    overflow-y: scroll;
}

.mainMetrics{
    padding: 26px;
    gap: 26px;
    display: flex;
    flex-direction: column;

}

.metricRow1, .metricRow2 {
    width: 100%;
    height: 40%;
    min-height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.metric_checkbox {
    display: flex;
    justify-content: space-around;
}

.calculatedPanel {
    height: 20%;
    background-color: #F9FAFC;
    padding: 40px;
    box-sizing: border-box;
}